<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    File page / Later you want to insert upload file download file delete file
    rename file attach file to a folder. File ID <%= fileId %>
  </body>
</html>
