<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    Folder page / Later you want to insert \ create folder rename folder delete
    folder move folder list contents of a folder
  </body>
</html>
